name: Update Satellite GeoJSON

on:
  schedule:
    - cron: "0 * * * *"   # Every hour
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync with remote before work
        run: |
          git fetch origin
          git reset --hard origin/main

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Generate grouped GeoJSONs
        run: python generate_all_geojson.py

      - name: Commit & Force Push Updates
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"

          git add output/*.geojson
          git commit -m "Auto update grouped GeoJSON" || echo "No changes"

          git push --force
